<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>RCCS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1>Residential College Complaint System</h1>
        <hr>
        <h2>New Complaint</h2>


        <form action="#" th:action="@{/createComplaint}" th:object="${complaint}" method="POST">
            <label for="name" style="font-weight:bold" ;>Name </label><br>
            <input type="text" th:field="*{name}" placeholder="Name" class="form-control mb-4 col-4">
            <label for="category" style="font-weight:bold" ;>Category </label><br>
            <!-- 
                <input type="text" th:field="*{category}" placeholder="Category" class="form-control mb-4 col-4">
           <input type="text" th:field="*{description}" placeholder="Description of problem" class="form-control mb-4 col-4">
            
            -->
            <input type="radio" th:field="*{category}" value="Electrical"><label> Electrical Damage</label><br>
            <input type="radio" th:field="*{category}" value="Furniture"><label> Furniture Damage</label><br>
            <input type="radio" th:field="*{category}" value="Civil"><label> Civil Damage</label><br>
            <input type="radio" th:field="*{category}" value="Others"><label> Others</label><br>
            <br>

            <label for="description" style="font-weight:bold" ;>Description </label><br>
            <textarea th:field="*{description}" placeholder="Description of problem" row="8" cols="50"></textarea>
            <br><br>
            <button type="submit" class="btn btn-info col-2"> Add </button>
        </form>

        <hr>

        <a th:href="@{/}"> Return > Complaint List</a>
    </div>
</body>

</html>