<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Residential College Complaint System</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1>Residential College Complaint System</h1>
        <hr>
        <h2>View Complaint</h2>

        <form action="#" th:action="@{/updateComplaint}" th:object="${complaint}" method="POST">

            <!-- Add hidden form field to handle update -->
            <label for="id" style="font-weight:bold" ;>ID </label><br>
            <input type="text" readonly="true" th:field="*{id}" class="form-control mb-4 col-4">

            <label for="name" style="font-weight:bold" ;>Name </label><br>
            <input type="text" readonly="true" th:field="*{name}" class="form-control mb-4 col-4">

            <label for="category" style="font-weight:bold" ;>Category </label><br>
            <input type="radio" th:field="*{category}" id="Electrical" value="Electrical" readonly="true"><label>
                Electrical Damage</label><br>
            <input type="radio" th:field="*{category}" id="Electrical" value="Furniture" readonly="true"><label>
                Furniture Damage</label><br>
            <input type="radio" th:field="*{category}" id="Electrical" value="Civil" readonly="true"><label> Civil
                Damage</label><br>
            <input type="radio" th:field="*{category}" id="Electrical" value="Others" readonly="true"><label>
                Others</label><br>
            <br>
            <label for="description" style="font-weight:bold" ;>Description </label><br>

            <textarea th:field="*{description}" placeholder="Description of problem" row="8" cols="50"
                readonly="true"></textarea><br><br>
            <!--<input type="text" th:field="*{category}" class="form-control mb-4 col-4">
              <input type="text" th:field="*{status}" class="form-control mb-4 col-4"> 
           -->
            <label for="status" style="font-weight:bold" ;>Status</label><br>

            <select th:field="*{status}" name='status' >
                <option value="Pending" readonly="true">Pending Action</option>
                <option value="Resolved" readonly="true">Resolved</option>
                <option value="Unresolved" readonly="true">Unresolved</option>
            </select><br><br>
            
            <label for="action" style="font-weight:bold" ;>Action </label><br>
            <input type="text" th:field="*{action}" class="form-control mb-4 col-4" readonly="true">


        </form>

        <hr>

        <a th:href="@{/}"> Return > Complaint List</a>
    </div>
</body>

</html>